body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  background-image: url("/images/about2.jpg");
}

.nav {
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: auto;
  max-width: 1440px;
  column-count: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(192, 252, 252, 0.904),
    rgba(7, 124, 241, 0.812)
  );
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

p {
  color: rgb(229, 229, 229);
  font-size: 18px;
  line-height: 1.5;
}

ul {
  color: rgb(252, 252, 252);
  font-size: 18px;
  line-height: 1.5;
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
}
