* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1de;
  background-image: url("/images/sun-clouds.jpg");
}

.nav {
  display: flex;
  align-items: center;
  padding: 50px 0;
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(128, 239, 239, 0.904),
    rgba(239, 247, 255, 0.812)
  );
}

.nav .navlinks {
  margin-left: auto;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(252, 251, 251, 0.16),
    0 1rem 2rem rgba(235, 199, 199, 0.12);
}
.navlinks li {
  display: inline-block;
  margin-left: 50px;
}
.navlinks a {
  color: #0c0c0c;
  font-weight: bold;
}
.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav .fas {
  display: none;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #f1f1de;
}

p {
  font-size: 1rem;
  color: #666;
}

.launch-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.launch-button:hover {
  background-color: #0056b3;
}

.social-icons {
  padding: 5px 5px 5px 5px;
  margin-top: 25px;
  font-size: large;
}
